<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jkabe.box">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--用于进行网络定位-->
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        tools:ignore="UniquePermission" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- Required -->
    <uses-permission android:name="com.car.notver.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在 6.0 系统上的层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.car.notver.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />


    <application
        android:name="com.jkabe.app.box.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name="com.jkabe.app.box.ui.StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.jkabe.app.box.ui.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jkabe.app.box.ui.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jkabe.app.box.ui.RegisterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jkabe.app.box.ui.WareDeilActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jkabe.app.box.ui.AddressActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jkabe.app.box.box.OrderDetileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jkabe.app.box.box.OrderDetileActivity1"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.jkabe.app.box.box.TransactionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jkabe.app.box.box.LogisticsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jkabe.app.box.ui.ConfirmActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.jkabe.app.box.ui.AddressListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jkabe.app.box.ui.PassworadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jkabe.app.box.ui.SalesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jkabe.app.box.box.ResetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jkabe.app.box.box.ChangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jkabe.app.box.ui.ForgetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jkabe.app.box.box.AdvertActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jkabe.app.box.ui.MsgActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jkabe.app.box.ui.AgreementActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jkabe.app.box.ui.BlockActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.jkabe.app.box.ui.fragment.MiningFragmnt"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jkabe.app.box.ui.fragment.AssetsFragmnt"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.jkabe.app.box.box.TripActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jkabe.app.box.box.TripDeilActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jkabe.app.box.box.MaintenanceActivity"
            android:screenOrientation="portrait" />
        <activity
        android:name="com.jkabe.app.box.box.MainDeilActivity"
        android:screenOrientation="portrait" />

        <activity
            android:name="com.jkabe.app.box.box.InsuranceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jkabe.app.box.box.InsureDeilActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jkabe.app.box.box.ViolationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jkabe.app.box.box.ViolationDeilActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jkabe.app.box.box.OilActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jkabe.app.box.box.OilDeilActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jkabe.app.box.ui.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jkabe.app.box.ui.BatteryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jkabe.app.box.box.AssetsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jkabe.app.box.box.IncomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jkabe.app.box.box.RechargeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jkabe.app.box.box.DrawActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jkabe.app.box.ui.ActivationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jkabe.app.box.ui.ElectronicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jkabe.app.box.ui.LocationMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jkabe.app.box.ui.PreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jkabe.app.box.ui.OilActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jkabe.app.box.ui.EarlyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jkabe.app.box.ui.SafeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jkabe.app.box.ui.TravelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jkabe.app.box.ui.LocationTravelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jkabe.app.box.ui.DrivingLicenseActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jkabe.app.box.ui.MedicalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jkabe.app.box.ui.LocationEarlyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jkabe.app.box.ui.LocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jkabe.app.box.ui.LicenseActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jkabe.app.box.ui.BindActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jkabe.app.box.ui.BrandCarActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jkabe.app.box.ui.VehicleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jkabe.app.box.ui.ParameterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jkabe.app.box.ui.UserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jkabe.app.box.ui.LocationIndexActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jkabe.app.box.zxing.android.CaptureActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jkabe.app.box.ui.InvitationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jkabe.app.box.ui.StoreActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jkabe.app.box.ui.OrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jkabe.app.box.ui.StoreListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.jkabe.app.box.ui.StoreDeilActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.jkabe.app.box.box.OrderPayActivity"
            android:screenOrientation="portrait" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="0fc2ec2f7f7658f6e1a3b2e4b08b298a" />

        <service android:name="com.amap.api.location.APSService"></service>

        <provider
            android:name="com.jkabe.app.box.weight.MyFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>


        <!-- Since JCore2.0.0 Required SDK核心功能-->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service
            android:name="com.jkabe.app.box.config.XService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调-->
        <!--since 3.3.0 接收JPush相关事件-->
        <receiver android:name="com.jkabe.app.box.config.PushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="${applicationId}"></category>
            </intent-filter>
        </receiver>


        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- 3.5.0新增，用于定时展示功能 -->
        <receiver
            android:name="cn.jpush.android.service.SchedulerReceiver"
            android:exported="false" />


        <receiver
            android:name="com.jkabe.app.box.config.MyReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- since 3.1.0 Required SDK 核心功能-->
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="${applicationId}.DownloadProvider"
            android:exported="true" />


        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 3.0.9 Required SDK 核心功能-->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="${applicationId}.DataProvider"
            android:exported="false"
            android:process=":pushcore" />


        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>



    </application>

</manifest>